@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Dirt&display=swap');
/* font-family: 'Rubik', sans-serif;
font-family: 'Rubik Dirt', cursive; */

:root{
    --fondo:#040F0F;
    --gris:#4a525a;
    --gris2:#575b5d;
    --principal:#76a7f4;
    --principalHover:#629bf8;
    --claro:#F5F8FC;

}

*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;

}

body{
    background-color:var(--gris);
}

.cartC{
    display: flex;
    align-items: center;
}

.cart{
    width:25px;
}

.cartCount p {
    padding: 2px 5px;
}



    

    



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    nav{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: space-between;
        background-color: var(--gris);
        box-shadow: 0px 16px 15px -6px rgba(0,0,0,0.41);
        
    }
    
    .tercio{
        width:100% ;
        background-color: var(--fondo);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
       
    
    }
    
    .tercio p {
        color: var(--principal);
        font-family:'Rubik Dirt', cursive; 
        font-size: 2rem;
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 15px;
        
       
    }
    
    .logo{
        background-color: var(--principal);
        width: 40px;
        height: 40px;
        margin: 15px;
        border-radius: 50%;
        
    }
    
    .items{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .items .link p{

        padding: 20px;
        color: var(--principal);
        font-family: 'Rubik Dirt', cursive;
    }}
    .cart{
        padding: 30px;
    }
    div .cartCount{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--principal);
        background-color: var(--fondo);
    }
    
    .mensajeCarritoVacio{
        font-size: 2rem;
    }
    
    



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:501px) {
    nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: var(--gris);
    box-shadow: 0px 16px 15px -6px rgba(0,0,0,0.41);
    
}

.tercio{
    width:45% ;
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.tercio p {
    color: var(--principal);
    font-family:'Rubik Dirt', cursive; 
    font-size: 1.5rem;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 15px;
   
}

.logo{
    background-color: var(--principal);
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
}

.items{
    width: 55%;
    display: flex;
    margin-right: 40px;
    justify-content: flex-end;
    align-items: center;
}

.items .link p{
    margin-left: 10px;
    color: var(--principal);
    font-family: 'Rubik Dirt', cursive;
}}
.cart{
    padding: 10px;
}
.cartCount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--principal);
    background-color: var(--fondo);
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    nav{
    display: flex;
    width: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: var(--gris);
    box-shadow: 0px 16px 15px -6px rgba(0,0,0,0.41);
    
}

.tercio{
    min-width:25% ;
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.tercio p {
    color: var(--principal);
    font-family:'Rubik Dirt', cursive; 
    font-size: 2rem;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.logo{
    background-color: var(--principal);
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
}

.items{
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
    align-items: center;
}

.items .link p{
    margin-left: 40px;
    color: var(--principal);
    font-family: 'Rubik Dirt', cursive;
}
.cartCount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--principal);
    background-color: var(--fondo);
}
}
